{% extends 'layout.html.twig' %}

{% block title %}
    Nouveau patient
{% endblock %}

{% block page_content %}

    <div class="wrapper">
        <h1 id="top">Nouveau patient</h1>

		<div class="well nav-bar" id="navMenu">
			<div class="btn-group btn-nav">
				<a href="{{ url('patient') }}" class="btn btn-default">
					<span class="glyphicon glyphicon-chevron-left"></span>
					Retour
				</a>
				<a href="#details" class="js-scrollTo btn btn-primary" data-row-id="0">
					<span class="glyphicon glyphicon-search"></span>
					Informations
				</a>
			</div>
		</div>

        <div class="content">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.observ, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.divers, {'required': false}) }}
                </div>
            </div>
            <div class="separator">
                <span id="details" class="separator-text">Détails</span>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.sexe) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.prenom) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.date) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.tel1) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.tel2, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.distance, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.etude, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.profession, {'required': false}) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.activite, {'required': false}) }}
                </div>
            </div>
            <div class="separator">
                <span class="separator-text">Données à l'inclusion</span>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.diagnostic, {'required': false}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.dedate) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.orientation, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.etpdecision, {'required': false}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.progetp, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.precisions, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.precisionsperso, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.objectif, {'required': false}) }}
                </div>
            </div>

            <div class="separator">
                <span id="fin" class="separator-text">Données à la sortie</span>
            </div>
            <div class="row">
		        <div class="col-md-3">
                    {{ form_row(form.dentree, {'required': false}) }}
                </div>
	        </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.motif, {'required': false}) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(form.etp, {'required': false}) }}
                </div>
            </div>

            <div class="separator"></div>

            <div class="form-inline">
                <a href="{{ url('patient') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Retour
                </a>
                {{ form_row(form.validation, {'attr': {'class': 'btn btn-primary'} }) }}
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
        </div>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
        <script type="text/javascript">
            function sortSelect() {
                $('.container-fluid').find('select').each(function() {
                    let sel = $(this);
                    let selected = sel.val();
                    let opts_list = sel.find('option');
                    opts_list.sort(function(a, b) { return $(a).text() > $(b).text() ? 1 : -1; });
                    sel.html('').append(opts_list);
                    sel.val(selected);
                });
            }
            sortSelect();
        </script
    {% endblock %}