{% extends 'layout.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}
    Diagnostic {{ patient.nom }}
{% endblock %}

{% block toolbar_component %}
    <button class="cd cd-save js-cd-save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
    <a class="cd cd-back js-cd-back" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
{% endblock %}

{% form_theme form 'form-theme.html.twig' %}

{% block page_content %}

    <div class="wrapper scrollbar">
        <h1 id="top">Diagnostic | {{ patient.nom }}</h1>
        <div class="nav-bar" id="navMenu">
            <div class="btn-group btn-nav">
                <a href="#" class="btn btn-default js-cd-back" id="btn-back">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Retour
                </a>
                <a href="#details" class="js-scrollTo btn btn-primary" data-row-id="0">
                    <span class="glyphicon glyphicon-search"></span>
                    Informations
                </a>
            </div>
        </div>

        <div class="content">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.soignantReferent, {'required': false}) }}
                </div>
            </div>

            <div class="separator">
                <span class="separator-text">Données à l'inclusion</span>
            </div>

            <div class="separator"></div>
            <div class="form-inline">
                <a href="#" class="btn btn-default js-cd-back">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Retour
                </a>
                {{ form_row(form.validation, {'attr': {'class': 'btn btn-primary'} }) }}
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
        </div>
        <!-- End content -->
    </div>
{% endblock page_content %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript">

    </script>

{% endblock %}