{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
{% endblock %}

{% block title %}
    Vue
    {{ patient.nom }}
{% endblock %}

{% block toolbar_component %}
    <button class="cd cd-save js-cd-save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
    <a class="cd cd-back js-cd-back" href="{{ url('patient') }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
{% endblock %}

{% form_theme form 'form-theme.html.twig' %}

{% block page_content %}

    <div class="wrapper scrollbar">
        <h1 id="top">Index |
            {{ patient.nom }}</h1>
        <div class="well nav-bar" id="navMenu">
            <div class="btn-group btn-nav">
                <a href="{{ url('patient') }}" class="btn btn-default" id="btn-back">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Retour
                </a>
                <a href="#details" class="js-scrollTo btn btn-primary" data-row-id="0">
                    <span class="glyphicon glyphicon-search"></span>
                    Informations
                </a>
                <a href="#consultations" class="js-scrollTo btn btn-primary" data-row-id="0">
                    <span class="glyphicon glyphicon-book"></span>
                    Consultations
                </a>
                <a href="#entretiens" class="js-scrollTo btn btn-primary" data-row-id="0">
                    <span class="glyphicon glyphicon-bookmark"></span>
                    Entretiens individuels
                </a>
                <a href="#ateliers" class="js-scrollTo btn btn-primary" data-row-id="0">
                    <span class="glyphicon glyphicon-scissors"></span>
                    Ateliers
                </a>
            </div>
        </div>

        <div class="content">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.observ, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.divers, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.notes, {'required': false}) }}
                </div>
            </div>
            <div class="separator">
                <span id="details" class="separator-text">Détails</span>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.sexe) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.prenom) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.date) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.tel1) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.tel2, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.distance, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.etude, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.profession, {'required': false}) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.activite, {'required': false}) }}
                </div>
            </div>
            <div class="separator">
                <span class="separator-text">Données à l'inclusion</span>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.diagnostic, {'required': false}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.dedate) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.orientation, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.etpdecision, {'required': false}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.progetp, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.precisions, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.precisionsperso, {'required': false}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.objectif, {'required': false}) }}
                </div>
            </div>

            <div class="separator">
                <span id="fin" class="separator-text">Données à la sortie</span>
            </div>
            <div class="row">
		        <div class="col-md-3">
                    {{ form_row(form.dentree, {'required': false}) }}
                </div>
	        </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.motif, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.etp, {'required': false}) }}
                </div>
            </div>


            <div class="separator">
                <span id="consultations" class="separator-text">Consultations</span>
            </div>

            <!-- CONSULTATIONS -->
            <section class="cd-horizontal-timeline" id="timeline-consultations">
                <div class="timeline">
                    <div class="events-wrapper">
                        <div class="events">
                            <ol id="events-consultations">
                                {% for consultation in patient.rendezVous|sort((a, b) => a.date <=> b.date) %}
                                {% if consultation.categorie == 'Consultation' %}
                                    <li>
                                        <a href="#0" data-date="{{ consultation.date|date("d/m/Y") }}">
                                            {{ consultation.date|format_datetime(pattern="d MMM", locale='fr') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                            <span class="filling-line" aria-hidden="true"></span>
                        </div>
                    </div>

                    <ul class="cd-timeline-navigation">
                        <li>
                            <a href="#0" class="prev inactive">Prev</a>
                        </li>
                        <li>
                            <a href="#0" class="next">Next</a>
                        </li>
                    </ul>

                    <a id="js-consultation" class="new" data-toggle="modal" data-target="#rendezVousModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>

                <div class="events-content">
                    <ol id="events-content-consultations">
                        {% for consultation in patient.rendezVous|sort((a, b) => a.date <=> b.date) %}
                        {% if consultation.categorie == 'Consultation' %}
                            {% set counter = (counter | default(0)) + 1 %}
                            <li data-date="{{ consultation.date|date("d/m/Y") }}" data-id="{{ consultation.id }}">
                                <h2>Consultation  
                                    {{ counter }}
                                </h2>
                                <em>
                                    {{ consultation.date|format_datetime(pattern="d MMMM YYYY", locale='fr') }}
                                </em>
                                <div>
                                    <div class="error-msg"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="patient_creation_form_consultations_{{ consultation.id }}_date">Date prévue</label>
                                                <input type="text" id="patient_creation_form_consultations_{{ consultation.id }}_date" name="patient_creation_form[consultation][{{ consultation.id }}][date]" required="required" class="datepicker form-control" value="{{ consultation.date|date("d/m/Y") }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="patient_creation_form_consultations_{{ consultation.id }}_heure">Heure</label>
                                                <select disabled type="text" id="patient_creation_form_consultations_{{ consultation.id }}_heure" name="patient_creation_form[consultation][{{ consultation.id }}][heure]" required="required" class="form-control heure">
                                                    <option value="{{ consultation.slot }}">{{ consultation.heure|date("H:i") }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_consultations_{{ consultation.id }}_thematique">
                                                    Thématique
                                                </label>
                                                <select type="text" id="patient_creation_form_consultations_{{ consultation.id }}][thematique]" class="form-control thematique" value="{% if consultation.slot %} {{ consultation.slot.thematique }} {% endif %}">
                                                    <option value="" {% if consultation.slot and consultation.slot.thematique == '' %} selected="selected" {% endif %}></option>
                                                    {% for thematique in thematiques[0] %}
                                                        <option value="{{thematique}}" {% if consultation.slot and consultation.slot.thematique == thematique %} selected="selected" {% endif %}>{{thematique}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_consultations_{{ consultation.id }}_type">
                                                    Type
                                                </label>
                                                <input disabled type="text" id="patient_creation_form_consultations_{{ consultation.id }}_type" name="patient_creation_form[consultation][{{ consultation.id }}][type]" class="form-control type" value="{% if consultation.slot %} {{ consultation.slot.type }} {% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_consultations_{{ consultation.id }}_accompagnant">Accompagnant</label>
                                                <select id="patient_creation_form_consultations_{{ consultation.id }}_accompagnant" name="patient_creation_form[consultation][{{ consultation.id }}][accompagnant]" class="form-control">
                                                    <option value="" {% if consultation.accompagnant == '' %} selected="selected" {% endif %}></option>
                                                    <option value="Non" {% if consultation.accompagnant == 'Non' %} selected="selected" {% endif %}>Non</option>
                                                    <option value="Oui" {% if consultation.accompagnant == 'Oui' %} selected="selected" {% endif %}>Oui</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_consultations_{{ consultation.id }}_etat">A-t-il eu lieu ?</label>
                                                <select id="patient_creation_form_consultations_{{ consultation.id }}_etat" name="patient_creation_form[consultation][{{ consultation.id }}][etat]" class="form-control" style="background: gold;">
                                                    <option value="" class="white" {% if consultation.etat == '' %} selected="selected" {% endif %}></option>
                                                    <option value="Non" class="gold" {% if consultation.etat == 'Non' %} selected="selected" {% endif %}>Non</option>
                                                    <option value="Oui" class="hotpink" {% if consultation.etat == 'Oui' %} selected="selected" {% endif %}>Oui</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_consultations_{{ consultation.id }}_motifRefus">Motif de refus</label>
                                                <input type="text" id="patient_creation_form_consultations_{{ consultation.id }}_motifRefus" name="patient_creation_form[consultation][{{ consultation.id }}][motifRefus]" class="form-control" value="{{ consultation.motifRefus }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary pull-right">Modifier</button>
                                            <button type="button" class="btn btn-danger pull-left">Supprimer</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ol>

                </div>
            </section>


            <div class="separator">
                <span id="entretiens" class="separator-text">Entretiens individuels</span>
            </div>

            <!-- ENTRETIENS INDIVIDUELS -->
            <section class="cd-horizontal-timeline" id="timeline-entretiens">
                <div class="timeline">
                    <div class="events-wrapper">
                        <div class="events">
                            <ol id="events-entretiens">
                                {% for entretien in patient.rendezVous|sort((a, b) => a.date <=> b.date) %}
                                {% if entretien.categorie == 'Entretien' %}
                                    <li>
                                        <a href="#0" data-date="{{ entretien.date|date("d/m/Y") }}">
                                            {{ entretien.date|format_datetime(pattern="d MMM", locale='fr') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                            <span class="filling-line" aria-hidden="true"></span>
                        </div>
                    </div>

                    <ul class="cd-timeline-navigation">
                        <li>
                            <a href="#0" class="prev inactive">Prev</a>
                        </li>
                        <li>
                            <a href="#0" class="next">Next</a>
                        </li>
                    </ul>

                    <a id="js-entretien" class="new" data-toggle="modal" data-target="#rendezVousModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>

                <div class="events-content">
                    <ol id="events-content-entretiens">
                        {% for entretien in patient.rendezVous|sort((a, b) => a.date <=> b.date) %}
                        {% if entretien.categorie == 'Entretien' %}
                            {% set counter = (counter | default(0)) + 1 %}
                            <li data-date="{{ entretien.date|date("d/m/Y") }}" data-id="{{ entretien.id }}">
                                <h2>Entretien  
                                    {{ counter }}
                                </h2>
                                <em>
                                    {{ entretien.date|format_datetime(pattern="d MMMM YYYY", locale='fr') }}
                                </em>
                                <div>
                                    <div class="error-msg"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="patient_creation_form_entretiens_{{ entretien.id }}_date">Date prévue</label>
                                                <input type="text" id="patient_creation_form_entretiens_{{ entretien.id }}_date" name="patient_creation_form[entretien][{{ entretien.id }}][date]" required="required" class="datepicker form-control" value="{{ entretien.date|date("d/m/Y") }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="patient_creation_form_entretiens_{{ entretien.id }}_heure">Heure</label>
                                                <select disabled type="text" id="patient_creation_form_entretiens_{{ entretien.id }}_heure" name="patient_creation_form[entretien][{{ entretien.id }}][heure]" required="required" class="form-control heure">
                                                    <option value="{{ entretien.slot }}">{{ entretien.heure|date("H:i") }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_entretiens_{{ entretien.id }}_thematique">
                                                    Thématique
                                                </label>
                                                <select type="text" id="patient_creation_form_entretiens_{{ entretien.id }}][thematique]" class="form-control thematique" value="{% if entretien.slot %} {{ entretien.slot.thematique }} {% endif %}">
                                                    <option value="" {% if entretien.slot and entretien.slot.thematique == '' %} selected="selected" {% endif %}></option>
                                                    {% for thematique in thematiques[1] %}
                                                        <option value="{{thematique}}" {% if entretien.slot and entretien.slot.thematique == thematique %} selected="selected" {% endif %}>{{thematique}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_entretiens_{{ entretien.id }}_type">
                                                    Type
                                                </label>
                                                <input disabled type="text" id="patient_creation_form_entretiens_{{ entretien.id }}_type" name="patient_creation_form[entretien][{{ entretien.id }}][type]" class="form-control type" value="{% if entretien.slot %} {{ entretien.slot.type }} {% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_entretiens_{{ entretien.id }}_accompagnant">Accompagnant</label>
                                                <select id="patient_creation_form_entretiens_{{ entretien.id }}_accompagnant" name="patient_creation_form[entretien][{{ entretien.id }}][accompagnant]" class="form-control">
                                                    <option value="" {% if entretien.accompagnant == '' %} selected="selected" {% endif %}></option>
                                                    <option value="Non" {% if entretien.accompagnant == 'Non' %} selected="selected" {% endif %}>Non</option>
                                                    <option value="Oui" {% if entretien.accompagnant == 'Oui' %} selected="selected" {% endif %}>Oui</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_entretiens_{{ entretien.id }}_etat">A-t-il eu lieu ?</label>
                                                <select id="patient_creation_form_entretiens_{{ entretien.id }}_etat" name="patient_creation_form[entretien][{{ entretien.id }}][etat]" class="form-control" style="background: gold;">
                                                    <option value="" class="white" {% if entretien.etat == '' %} selected="selected" {% endif %}></option>
                                                    <option value="Non" class="gold" {% if entretien.etat == 'Non' %} selected="selected" {% endif %}>Non</option>
                                                    <option value="Oui" class="hotpink" {% if entretien.etat == 'Oui' %} selected="selected" {% endif %}>Oui</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_entretiens_{{ entretien.id }}_motifRefus">Motif de refus</label>
                                                <input type="text" id="patient_creation_form_entretiens_{{ entretien.id }}_motifRefus" name="patient_creation_form[entretien][{{ entretien.id }}][motifRefus]" class="form-control" value="{{ entretien.motifRefus }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary pull-right">Modifier</button>
                                            <button type="button" class="btn btn-danger pull-left">Supprimer</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ol>

                </div>
            </section>


            <div class="separator">
                <span id="ateliers" class="separator-text">Ateliers</span>
            </div>

            <!-- ATELIER -->
            <section class="cd-horizontal-timeline" id="timeline-ateliers">
                <div class="timeline">
                    <div class="events-wrapper">
                        <div class="events">
                            <ol id="events-ateliers">
                                {% for atelier in patient.rendezVous|sort((a, b) => a.date <=> b.date) %}
                                {% if atelier.categorie == 'Atelier' %}
                                    <li>
                                        <a href="#0" data-date="{{ atelier.date|date("d/m/Y") }}">
                                            {{ atelier.date|format_datetime(pattern="d MMM", locale='fr') }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                            <span class="filling-line" aria-hidden="true"></span>
                        </div>
                    </div>

                    <ul class="cd-timeline-navigation">
                        <li>
                            <a href="#0" class="prev inactive">Prev</a>
                        </li>
                        <li>
                            <a href="#0" class="next">Next</a>
                        </li>
                    </ul>

                    <a id="js-atelier" class="new" data-toggle="modal" data-target="#rendezVousModal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>

                <div class="events-content">
                    <ol id="events-content-ateliers">
                        {% for atelier in patient.rendezVous|sort((a, b) => a.date <=> b.date) %}
                        {% if atelier.categorie == 'Atelier' %}
                            {% set counter = (counter | default(0)) + 1 %}
                            <li data-date="{{ atelier.date|date("d/m/Y") }}" data-id="{{ atelier.id }}">
                                <h2>Atelier  
                                    {{ counter }}
                                </h2>
                                <em>
                                    {{ atelier.date|format_datetime(pattern="d MMMM YYYY", locale='fr') }}
                                </em>
                                <div>
                                    <div class="error-msg"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="patient_creation_form_ateliers_{{ atelier.id }}_date">Date prévue</label>
                                                <input type="text" id="patient_creation_form_ateliers_{{ atelier.id }}_date" name="patient_creation_form[atelier][{{ atelier.id }}][date]" required="required" class="datepicker form-control" value="{{ atelier.date|date("d/m/Y") }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label required" for="patient_creation_form_ateliers_{{ atelier.id }}_heure">Heure</label>
                                                <select disabled type="text" id="patient_creation_form_ateliers_{{ atelier.id }}_heure" name="patient_creation_form[atelier][{{ atelier.id }}][heure]" required="required" class="form-control heure">
                                                    <option value="{{ atelier.slot }}">{{ atelier.heure|date("H:i") }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_ateliers_{{ atelier.id }}_thematique">
                                                    Thématique
                                                </label>
                                                <select type="text" id="patient_creation_form_ateliers_{{ atelier.id }}][thematique]" class="form-control thematique" value="{% if atelier.slot %} {{ atelier.slot.thematique }} {% endif %}">
                                                    <option value="" {% if atelier.slot and atelier.slot.thematique == '' %} selected="selected" {% endif %}></option>
                                                    {% for thematique in thematiques[2] %}
                                                        <option value="{{thematique}}" {% if atelier.slot and atelier.slot.thematique == thematique %} selected="selected" {% endif %}>{{thematique}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_ateliers_{{ atelier.id }}_type">
                                                    Type
                                                </label>
                                                <input disabled type="text" id="patient_creation_form_ateliers_{{ atelier.id }}_type" name="patient_creation_form[atelier][{{ atelier.id }}][type]" class="form-control type" value="{% if atelier.slot %} {{ atelier.slot.type }} {% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_ateliers_{{ atelier.id }}_accompagnant">Accompagnant</label>
                                                <select id="patient_creation_form_ateliers_{{ atelier.id }}_accompagnant" name="patient_creation_form[atelier][{{ atelier.id }}][accompagnant]" class="form-control">
                                                    <option value="" {% if atelier.accompagnant == '' %} selected="selected" {% endif %}></option>
                                                    <option value="Non" {% if atelier.accompagnant == 'Non' %} selected="selected" {% endif %}>Non</option>
                                                    <option value="Oui" {% if atelier.accompagnant == 'Oui' %} selected="selected" {% endif %}>Oui</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_ateliers_{{ atelier.id }}_etat">A-t-il eu lieu ?</label>
                                                <select id="patient_creation_form_ateliers_{{ atelier.id }}_etat" name="patient_creation_form[atelier][{{ atelier.id }}][etat]" class="form-control" style="background: gold;">
                                                    <option value="" class="white" {% if atelier.etat == '' %} selected="selected" {% endif %}></option>
                                                    <option value="Non" class="gold" {% if atelier.etat == 'Non' %} selected="selected" {% endif %}>Non</option>
                                                    <option value="Oui" class="hotpink" {% if atelier.etat == 'Oui' %} selected="selected" {% endif %}>Oui</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label" for="patient_creation_form_ateliers_{{ atelier.id }}_motifRefus">Motif de refus</label>
                                                <input type="text" id="patient_creation_form_ateliers_{{ atelier.id }}_motifRefus" name="patient_creation_form[atelier][{{ atelier.id }}][motifRefus]" class="form-control" value="{{ atelier.motifRefus }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary pull-right">Modifier</button>
                                            <button type="button" class="btn btn-danger pull-left">Supprimer</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ol>

                </div>
            </section>

            <div class="separator"></div>
            <div class="form-inline">
                <a href="{{ url('patient') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Retour
                </a>
                <a href="#0" class="btn btn-danger" data-toggle="modal" data-target="#supprModal">
                    <span class="glyphicon glyphicon-trash"></span>
                    Supprimer
                </a>
                {{ form_row(form.validation, {'attr': {'class': 'btn btn-primary'} }) }}
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest' : false}) }}
        </div>
        <!-- End content -->

        <!-- Modal supprPatient-->
        <div id="supprModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-warning"></span>
                            Suppression</h4>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûr de vouloir supprimer ce patient ?</p>
                        <form method="post" action="{{ path('patient_delete', {'id': patient.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patient.id) }}">
                            <button class="btn btn-primary btn-block-md">Oui</button>
                            <button class="btn btn-danger btn-block-md" data-dismiss="modal">Non</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                            Annuler
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal addRendezVous-->
        <div id="rendezVousModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-plus"></span>
                            Ajouter une consultation
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="error-msg"></div>
                        {{ form_start(formRendezVous) }}
                        {{ form_errors(formRendezVous) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(formRendezVous.date, {'attr': {'autocomplete': 'off'} }) }}
                            </div>
                            <div class="col-md-6">
                            {{ form_row(formRendezVous.heure) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="rendez_vous_thematique">Thématique</label>
                                    <select type="text" id="rendez_vous_thematique" name="rendez_vous[thematique]" class="form-control thematique">
                                        <option value=""></option>
                                    <select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="rendez_vous_type">Type</label>
                                    <input disabled type="text" id="rendez_vous_type" name="rendez_vous[type]" class="form-control type">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(formRendezVous.accompagnant, {'required': false}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(formRendezVous.etat, {'required': false}) }}
                            </div>
                        </div>
                        {{ form_row(formRendezVous.motifRefus, {'required': false}) }}
                        {{ form_row(formRendezVous._token) }}
                        {{ form_end(formRendezVous, {'render_rest' : false}) }}
                        <button id="rendezVous_add" class="btn btn-primary btn-block" data-dismiss="modal">Ajouter</button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                            Annuler
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal Suppression-->
        <div id="removeModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-warning"></span>
                            Suppression</h4>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
                        <button class="btn btn-primary btn-block-md" data-dismiss="modal">Oui</button>
                        <button class="btn btn-danger btn-block-md" data-dismiss="modal">Non</button>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                            Annuler
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <a id="timeline_update"></a>
    </div>
{% endblock page_content %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/timeline.js') }}"></script>
    <script type="text/javascript">

        //TODO : add date on delete to 'datesConsultations' or ...

        const patientId = {{ patient.id }};

        var alert_pos = {{ top }};

        var datesConsultations = {{ dates_consultations|json_encode|raw }};
        var datesEntretiens = {{ dates_entretiens|json_encode|raw }};
        var datesAteliers = {{ dates_ateliers|json_encode|raw }};

        var thematiques = {{ thematiques|json_encode|raw }};

        function sort_date1(a, b) {
            let date1 = $(a).find('a').attr('data-date').split("/");
            let date2 = $(b).find('a').attr('data-date').split("/");
            return (new Date(date2[2], date2[1], date2[0])) < (new Date(date1[2], date1[1], date1[0])) ? 1 : -1;    
        }

        function sort_date2(a, b) {
            let date1 = $(a).attr('data-date').split("/");
            let date2 = $(b).attr('data-date').split("/");
            return (new Date(date2[2], date2[1], date2[0])) < (new Date(date1[2], date1[1], date1[0])) ? 1 : -1;    
        }

        function orderTimeline() {
            $('.cd-horizontal-timeline').each(function() {
                let timeline = $(this).find('.timeline ol')
                let events = $(this).find('.events-content ol')
                timeline.find('li').sort(sort_date1).appendTo(timeline);
                events.find('li').sort(sort_date2).appendTo(events);
            });
        }

        function updateForm() {
            orderTimeline();
            $('#timeline_update').trigger('click');

            updateEntretienDatepicker();
            updateConsultationDatepicker();
            updateAtelierDatepicker();
            changeSelectColor(null);
            sortSelect();
        }
        
        /* On start */
        $('.events-content li:last-child').addClass('selected');
        $('.events li:not(:last-child) a').addClass('older-event');
        $('.events li:last-child a').addClass('selected');
        updateForm();

        $('.js-cd-save').on('click', function() {
            $('#patient_creation_form_validation').trigger('click');
        });


        {# Set select color #}
        function setSelectColor(obj) {
            let color = obj.find(":selected").attr("class");
            if (!color)
                return;
            obj.css({background: color});
            let index = obj.parents('li').index();
            let dot = obj.parents('.events-content').prev().find('ol li:eq(' + index + ') a');
            if (dot.hasClass('selected'))
                dot.removeClass().addClass('selected');
            else if (dot.hasClass('older-event'))
                dot.removeClass().addClass('older-event');
            else
                dot.removeClass()
            dot.addClass(color + '-after');
        }

        function changeSelectColor(obj)  {
            if (obj)
                setSelectColor(obj)
            else {
                $('section select').each(function () {
                    setSelectColor($(this));
                });
            }
        }

        function changeDotColor() {
            $('cd-horizontal-timeline, events a.selected::after')
        }

        $('ol, .modal').on('change', 'select', function() {
            changeSelectColor($(this));
        });

        {# Update datetime #}
        function sort_li(a, b){
            return ($(b).find("a").attr('data-date')) < ($(a).find("a").attr('data-date')) ? 1 : -1;    
        }

        var month = ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"];
        $("ol").on("change", ".datepicker", function() {
            let datetime = $(this).val()
            if (datetime == '')
                return false;
            datetime = datetime.split("/");
            // $(this).parents("li").attr("data-date", $(this).val());
            $(this).parents("li").find("em").text(parseInt(datetime[0]) + " " + month[parseInt(datetime[1]) - 1] + " " + datetime[2]);
            let index = $(this).parents('li').index();
            let dot = $(this).parents('.events-content').prev().find('ol li:eq(' + index + ') a');
            dot.attr('data-date', $(this).val());
            dot.text(parseInt(datetime[0]) + " " + month[parseInt(datetime[1]) - 1]);
        })

        {# Alert #}
        function errorAlert() {
            $('body').prepend(
                '<div class="row alert alert-danger text-center box-shadow" style="top:' + alert_pos + 'px;"><span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>Erreur: date déjà existante !</div>'
            );
            alert_pos += 72;
        }

        function deleteAlert() {
            $('body').prepend(
                '<div class="row alert alert-success text-center box-shadow" style="top:' + alert_pos + 'px;"><span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>Suppression effectuée !</div>'
            );
            alert_pos += 72;
        }

        function editAlert() {
            $('body').prepend(
                '<div class="row alert alert-success text-center box-shadow" style="top:' + alert_pos + 'px;"><span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>Modification effectuée !</div>'
            );
            alert_pos += 72;
        }

        {# Delete #}
        $('.cd-horizontal-timeline').on("click", ".btn-danger", function () {
            $("#removeModal").attr('data-id', $(this).closest('li').data('id'));
            $("#removeModal").modal()
        });

        $('#removeModal .btn-primary').on('click', function () {
            let id = $('#removeModal').attr('data-id');
            let btn = $('.events-content li[data-id="' + id + '"] .btn-danger');
            let num = btn.closest('li').index();
            let timeline = btn.parents('.cd-horizontal-timeline');
            let date = btn.closest('li').find('.datepicker').val();

            let dates;
            if (btn.closest('ol').is('#events-content-consultations'))
                dates = datesConsultations;
            else if (btn.closest('ol').is('#events-content-entretiens'))
                dates = datesEntretiens;
            else if (btn.closest('ol').is('#events-content-ateliers'))
                dates = datesAteliers;
            let hasValue = hasValueDeep(dates, date);
            if (!hasValue)
                dates.push({'date':  date});

            timeline.find('ol').each(function () {
                $(this).find('li:nth-child(' + (num + 1) + ')').remove();
            });
            timeline.find('.events li a').removeClass("selected").addClass("older-event");
            timeline.find('.events li:last-child a').removeClass("older-event").addClass("selected");
            timeline.find('.events-content li').removeClass("selected");
            timeline.find('.events-content li:last-child').addClass("selected");
            $('#timeline_update').trigger('click');

            let url = "{{ path( 'rendezVous_remove', { 'id': 'rendezVous_id' }) }}";
            url = url.replace("rendezVous_id", id);
            $.ajax({url: url, type: "DELETE", success: function (resp) {deleteAlert()}});

        });


        {# Global request #}
        function getHours(date, type) {
            return $.ajax({
                url: "{{ path('slot_get_hours') }}",
                type: "POST",
                dataType: "json",
                data: {
                    date: date,
                    type: type
                },
                success: function (res) {
                    if (res) return res;
                    else errorAlert();
                }
            });
        }

        function getThematiqueType(id) {
            return $.ajax({
                url: "{{ path('slot_get_thematique_type') }}",
                type: "POST",
                dataType: "json",
                data: {
                    id: id
                },
                success: function (res) {
                    if (res) return res;
                    else errorAlert();
                }
            });
        }

        function setThematiqueType(el) {
            if (el.val() == '')
                return false;
            let row = el.closest('.row').next();
            row.find('.thematique').val('');
            row.find('.type').val('');
            $.when(getThematiqueType(el.val()).done(function(res) {
                row.find('.thematique').val(res[0]['thematique']);
                row.find('.type').val(res[0]['type']);
            }));
        }

        $('.heure').change(function() {
            setThematiqueType($(this));
        });

        {# Add RendezVous #}
        $('#rendezVousModal').on('show.bs.modal', function() {
            $(this).find('form[name="rendez_vous"]')[0].reset();
            let index = 0
            if (categorie == 'Entretien')
                index = 1;
            else if (categorie == 'Atelier')
                index = 2;
            $('#rendez_vous_thematique option:not(:first)').remove();
            $.each(thematiques[index], function(key, value) {
                $('#rendez_vous_thematique')
                    .append($("<option></option>")
                    .attr("value", value)
                    .text(value));
            });
        })

        var categorie = 'Consultation';
        $("#rendezVous_add").on('click', function () {
            let c = categorie.toLowerCase();
            let date = $('#rendez_vous_date').val();
            let slotId = $('#rendez_vous_heure').val();
            let time = $('#rendez_vous_heure option:selected').text()
            let thematique = $('#rendez_vous_thematique').val();
            let type = $('#rendez_vous_type').val();
            let accompagnant = $('#rendez_vous_accompagnant').val();
            let etat = $('#rendez_vous_etat').val();
            let motifRefus = $('#rendez_vous_motifRefus').val();

            if (date == '') {
                $('#rendezVousModal .error-msg').text('Erreur : aucun jour sélectionné')
                $('#rendezVousModal .error-msg').show();
                return false;
            } else if (time == '') {
                $('#rendezVousModal .error-msg').text('Erreur : aucune horaire renseignée')
                $('#rendezVousModal .error-msg').show();
                return false;
            } else {
                $('#rendezVousModal .error-msg').hide();
            }

            $.ajax({
                url: "{{ path('rendezVous_add') }}",
                type: "POST",
                dataType: "json",
                data: {
                    "id": '{{ patient.id }}',
                    "slotId": slotId,
                    "date": date,
                    "time": time,
                    "thematique": thematique,
                    "accompagnant": accompagnant,
                    "etat": etat,
                    "motifRefus": motifRefus,
                    "patientId": patientId,
                    "categorie": categorie,
                },
                success: function (res) {
                    if (res) {
                        let dates;
                        if (categorie == 'Consultation')
                            dates = datesConsultations;
                        else if (categorie == 'Entretien')
                            dates = datesEntretiens;
                        else if (categorie == 'Atelier')
                            dates = datesAteliers;
                        dates.forEach(function(e, v) {
                            if (e['date'] == date) dates.splice(v, 1);
                        })

                        let new_date = new Date(formatDate(date));
                        let date_h1 = new Intl.DateTimeFormat("fr-FR", { month: 'short', day: 'numeric' }).format(new_date);
                        let date_em = new Intl.DateTimeFormat("fr-FR", { year: 'numeric', month: 'long', day: 'numeric' }).format(new_date);
                        let nb = $("#events-content-" + c + "s").find('li').length;
                        let events = $('#events-' + c + 's');
                        $('#events-' + c + 's li a').removeClass("selected");
                        $('#events-' + c + 's li a').addClass("older-event");
                        $(document.createElement('li'))
                            .append('<a href=\"#0\" data-date=' + date + '>' + date_h1 + '</a>')
                            .appendTo(events);
                        $('#events-' + c + 's li:last-child a').addClass('selected');
                        $('#events-' + c + 's li:last-child a').removeClass('older-event');

                        let events_content = $('#events-content-' + c + 's');
                        $('#events-content-' + c + 's li').removeClass("selected");

                        let index = 0
                        if (categorie == 'Entretien')
                            index = 1;
                        else if (categorie == 'Atelier')
                            index = 2;
                        let options
                        $.each(thematiques[index], function(key, value) {
                            options += '<option value="' + value + '">' + value + '</option>'
                        });

                        $(events_content)
                            .append(`
                                <li data-date="` + date + `" data-id="` + res + `">
                                    <h2>` + categorie + ` ` + (nb + 1) + `</h2>
                                    <em>` + date_em + `</em>
                                    <div>
                                        <div class="error-msg"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label required" for="patient_creation_form_` + c + `s_` + res + `_date">Date prévue</label>
                                                    <input type="text" id="patient_creation_form_` + c + `s_` + res + `_date" name="patient_creation_form[` + c + `][` + res + `][date]" required="required" class="datepicker form-control" value="` + date + `">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label required" for="patient_creation_form_` + c + `s_` + res + `_heure">Heure</label>
                                                    <select disabled="" type="text" id="patient_creation_form_` + c + `s_` + res + `_heure" name="patient_creation_form[` + c + `][` + res + `][heure]" required="required" class="form-control heure">
                                                        <option value="` + slotId + `" selected="selected">` + time + `</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="patient_creation_form_` + c + `s_` + res + `_thematique">
                                                        Thématique
                                                    </label>
                                                    <select type="text" id="patient_creation_form_` + c + `s_` + res + `_thematique" name="patient_creation_form[` + c + `][` + res + `][thematique]" class="form-control thematique" value="` + thematique + `">
                                                        <option value=''></option>
                                                        ` + options + `
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="patient_creation_form_` + c + `s_` + res + `_type">
                                                        Type
                                                    </label>
                                                    <input disabled type="text" id="patient_creation_form_` + c + `s_` + res + `_type" name="patient_creation_form[` + c + `][` + res + `][type]" class="form-control type" value="` + type + `">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="patient_creation_form_` + c + `s_` + res + `_accompagnant">Accompagnant</label>
                                                    <select id="patient_creation_form_` + c + `s_` + res + `_accompagnant" name="patient_creation_form[` + c + `][` + res + `][accompagnant]" class="form-control">
                                                        <option value=""></option>
                                                        <option value="Non">Non</option>
                                                        <option value="Oui">Oui</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="patient_creation_form_` + c + `s_` + res + `_etat">A-t-il eu lieu ?</label>
                                                    <select id="patient_creation_form_` + c + `s_` + res + `_etat" name="patient_creation_form[` + c + `][` + res + `][etat]" class="form-control">
                                                        <option value="" class="white">
                                                        </option><option value="Non" class="gold">Non</option>
                                                        <option value="Oui" class="hotpink">Oui</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label" for="patient_creation_form_` + c + `s_` + res + `_motifRefus">Motif de refus</label>
                                                    <input type="text" id="patient_creation_form_` + c + `s_` + res + `_motifRefus" name="patient_creation_form[` + c + `][` + res + `][motifRefus]" class="form-control" value="` + motifRefus + `">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary pull-right">Modifier</button>
                                                <button type="button" class="btn btn-danger pull-left">Supprimer</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            `)
                            .appendTo(events_content);
                        $('#patient_creation_form_' + c + 's_' + res + '_thematique').val(thematique);
                        $('#patient_creation_form_' + c + 's_' + res + '_accompagnant').val(accompagnant);
                        $('#patient_creation_form_' + c + 's_' + res + '_etat').val(etat);
                        $('#events-content-' + c + 's li:last-child').addClass('selected');

                        $('form[name="rendez_vous"')[0].reset();
                        $('form[name="rendez_vous"] #rendez_vous_etat').css({'background': 'white'});
                        updateForm();
                    } else {
                        errorAlert();
                    }
                }
            });
        });

        {# Edit RendezVous #}
        $("#events-content-consultations, #events-content-entretiens, #events-content-ateliers").on("click", ".btn-primary", function () {
            let arr = [], i = 0;
            $(this).closest("li").find("input, select").each(function() {
                arr[i++] = $(this).val();
            })
            let time = $(this).closest("li").find('.heure option:selected').text();
            let id = $(this).closest("li").find('input').attr('id').match(/\d+/)[0];
            let url = "{{ path('rendezVous_patch', { 'id': 'rendezVous_id' }) }}";
            url = url.replace("rendezVous_id", id);

            if (arr[0] == '') {
                $(this).closest("li").find('.error-msg').text('Erreur : aucun jour sélectionné')
                $(this).closest("li").find('.error-msg').show();
                return false;
            } else if (time == '') {
                $(this).closest("li").find('.error-msg').text('Erreur : aucune horaire renseignée')
                $(this).closest("li").find('.error-msg').show();
                return false;
            } else {
                $(this).closest("li").find('.error-msg').hide();
            }

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {
                    "date": arr[0],
                    "time": time,
                    "thematique": arr[2],
                    "accompagnant": arr[4],
                    "etat": arr[5],
                    "motifRefus": arr[6],
                    "patientId": patientId,
                    "slotId": arr[1],
                },
                success: function (resp) {
                    if (resp)
                        editAlert();
                    else
                        errorAlert();
                }
            });
        })


        {# rendezVous datepicker #}
        function updateRendezVousDatepicker() {
            let dates;
            if (categorie == 'Consultation')
                date = datesConsultations;
            else if (categorie == 'Entretien')
                date = datesEntretiens;
            else if (categorie == 'Atelier')
                date = datesAteliers;
            $('#rendez_vous_date').datepicker({
                language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, autoclose: true,
                beforeShowDay: function (currentDate) {
                    let day = moment(currentDate).unix();
                    if (date.length > 0) {
                        for (let i = 0; i < date.length; i++) {
                            if (day == moment(date[i]['date'], 'DD/MM/YYYY').unix()) {
                                return {classes: 'highlight'};
                            }
                        }
                    }
                    return false;
                }
            });
            $('#rendez_vous_date').datepicker('update');
        };


        $('#rendez_vous_date').on('changeDate', function(e) {
            let hourInput = $(this).closest('.row').find('.heure');
            hourInput.prop("disabled", false);
            hourInput.find('option').remove().end();
            $(this).closest('.row').next().find('.thematique').val('');
            $(this).closest('.row').next().find('.type').val('');
            $.when(getHours($(this).val(), categorie)).done(function(res) {
                hourInput.append(new Option('', ''));
                res.forEach(function(el) {
                    hourInput.append(new Option(el['hour'], el['id']));
                })
            });
        });

        /* Consultations
		============================================================================== */

        function updateConsultationDatepicker() {
            $('#timeline-consultations .datepicker').datepicker({
                language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, autoclose: true,
                beforeShowDay: function (currentDate) {
                    let day = moment(currentDate).unix();
                    if (datesConsultations.length > 0) {
                        for (let i = 0; i < datesConsultations.length; i++) {
                            if (day == moment(datesConsultations[i]['date'], 'DD/MM/YYYY').unix()) {
                                return {classes: 'highlight'};
                            }
                        }
                    }
                    return false;
                }
            });
            $('#timeline-consultations .datepicker').datepicker('update');
        };

        $('#timeline-consultations .datepicker').on('focusin', function(e) {
            $(this).data('old', $(this).val());
        });

        $('#timeline-consultations .datepicker').on('changeDate', function(e) {
            let hasValue = hasValueDeep(datesConsultations, $(this).data('old'));
            if (!hasValue)
                datesConsultations.push({'date':  $(this).data('old')});
            updateConsultationDatepicker()

            let hourInput = $(this).closest('.row').find('.heure');
            hourInput.prop("disabled", false);
            hourInput.find('option').remove().end();
            $(this).closest('.row').next().find('.thematique').val('');
            $(this).closest('.row').next().find('.type').val('');
            $.when(getHours($(this).val(), 'Consultation')).done(function(res) {
                hourInput.append(new Option('', ''));
                res.forEach(function(el) {
                    hourInput.append(new Option(el['hour'], el['id']));
                })
            });
        });

        {# Add #}
        $('#js-consultation').click(function() {
            categorie = 'Consultation';
            $('#rendezVousModal').attr('data-categorie', 'consultation');
            updateRendezVousDatepicker();
        })



        /* Entretiens
		============================================================================== */

        function updateEntretienDatepicker() {
            $('#timeline-entretiens .datepicker').datepicker({
                language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, autoclose: true,
                beforeShowDay: function (currentDate) {
                    let day = moment(currentDate).unix();
                    if (datesEntretiens.length > 0) {
                        for (let i = 0; i < datesEntretiens.length; i++) {
                            if (day == moment(datesEntretiens[i]['date'], 'DD/MM/YYYY').unix()) {
                                return {classes: 'highlight'};
                            }
                        }
                    }
                    return false;
                }
            });
            $('#timeline-entretiens .datepicker').datepicker('update');
        };

        $('#timeline-entretiens .datepicker').on('focusin', function(e) {
            $(this).data('old', $(this).val());
        });

        $('#timeline-entretiens .datepicker').on('changeDate', function(e) {
            let hasValue = hasValueDeep(datesEntretiens, $(this).data('old'));
            if (!hasValue)
                datesEntretiens.push({'date':  $(this).data('old')});
            updateEntretienDatepicker();

            let hourInput = $(this).closest('.row').find('.heure');
            hourInput.prop("disabled", false);
            hourInput.find('option').remove().end();
            $(this).closest('.row').next().find('.thematique').val('');
            $(this).closest('.row').next().find('.type').val('');
            $.when(getHours($(this).val(), 'Entretien')).done(function(res) {
                hourInput.append(new Option('', ''));
                res.forEach(function(el) {
                    hourInput.append(new Option(el['hour'], el['id']));
                })
            });
        });

        {# Add #}
        $('#js-entretien').click(function() {
            categorie = 'Entretien';
            $('#rendezVousModal').attr('data-categorie', 'entretien');
            updateRendezVousDatepicker();
        })



        /* Ateliers
	    ============================================================================== */

        function updateAtelierDatepicker() {
            $('#timeline-ateliers .datepicker').datepicker({
                language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, autoclose: true,
                beforeShowDay: function (currentDate) {
                    let day = moment(currentDate).unix();
                    if (datesAteliers.length > 0) {
                        for (let i = 0; i < datesAteliers.length; i++) {
                            if (day == moment(datesAteliers[i]['date'], 'DD/MM/YYYY').unix()) {
                                return {classes: 'highlight'};
                            }
                        }
                    }
                    return false;
                },
            });
            $('#timeline-ateliers .datepicker').datepicker('update');
        };

        $('#timeline-ateliers .datepicker').on('focusin', function(e) {
            $(this).data('old', $(this).val());
        });

        $('#timeline-ateliers .datepicker').on('changeDate', function(e) {
            let hasValue = hasValueDeep(datesAteliers, $(this).data('old'));
            if (!hasValue)
                datesAteliers.push({'date':  $(this).data('old')});
            updateAtelierDatepicker();

            let hourInput = $(this).closest('.row').find('.heure');
            hourInput.prop("disabled", false);
            hourInput.find('option').remove().end();
            $(this).closest('.row').next().find('.thematique').val('');
            $(this).closest('.row').next().find('.type').val('');
            $.when(getHours($(this).val(), 'Atelier')).done(function(res) {
                hourInput.append(new Option('', ''));
                res.forEach(function(el) {
                    hourInput.append(new Option(el['hour'], el['id']));
                })
            });
        });

        {# Add #}
        $('#js-atelier').click(function() {
            categorie = 'Atelier';
            $('#rendezVousModal').attr('data-categorie', 'atelier');
            updateRendezVousDatepicker();
        })


        /* 
	    ============================================================================== */

        function formatDate(input) {
            let datePart = input.match(/\d+/g),
                year = datePart[2] //.substring(2),  get only two digits
                month = datePart[1],
                day = datePart[0];
            return year + '-' + month + '-' + day;
        }

        function resetErrors() {
            $('input, select').removeClass('is-invalid');
            $(".invalid-feedback").remove();
        }

        function sortSelect() {
            $('.container-fluid').find('select').each(function() {
                let sel = $(this);
                let selected = sel.val();
                let opts_list = sel.find('option');
                opts_list.sort(function(a, b) { return $(a).text() > $(b).text() ? 1 : -1; });
                sel.html('').append(opts_list);
                sel.val(selected);
            });
        }
        
        function hasValueDeep(json, findValue) {
            const values = Object.values(json);
            let hasValue = values.includes(findValue);
            values.forEach(function(value) {
                if (typeof value === "object") {
                    hasValue = hasValue || hasValueDeep(value, findValue);
                }
            })
            return hasValue;
        }

    </script>



    {# function reload_js(src) {
       	$('script[src="' + src + '"]').remove();
       	$('<script>').attr('src', src).appendTo('body');
   	} #}

    {# $.getScript("{{ asset('js/timeline.js') }}"); #}
    {# $(this).closest('tr').remove(); #}
    {# $('section#timeline-entretiens').load(location.href + ' #timeline-entretiens'); #}

{% endblock %}