{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ patient.date ? patient.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ patient.motif }}</td>
            </tr>
            <tr>
                <th>Etp</th>
                <td>{{ patient.etp }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ patient.sexe }}</td>
            </tr>
            <tr>
                <th>Dentree</th>
                <td>{{ patient.dentree ? patient.dentree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tel1</th>
                <td>{{ patient.tel1 }}</td>
            </tr>
            <tr>
                <th>Tel2</th>
                <td>{{ patient.tel2 }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ patient.distance }}</td>
            </tr>
            <tr>
                <th>Etude</th>
                <td>{{ patient.etude }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ patient.profession }}</td>
            </tr>
            <tr>
                <th>Activite</th>
                <td>{{ patient.activite }}</td>
            </tr>
            <tr>
                <th>Diagnostic</th>
                <td>{{ patient.diagnostic }}</td>
            </tr>
            <tr>
                <th>Dedate</th>
                <td>{{ patient.dedate ? patient.dedate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Orientation</th>
                <td>{{ patient.orientation }}</td>
            </tr>
            <tr>
                <th>Etpdecision</th>
                <td>{{ patient.etpdecision }}</td>
            </tr>
            <tr>
                <th>Precisions</th>
                <td>{{ patient.precisions }}</td>
            </tr>
            <tr>
                <th>Progetp</th>
                <td>{{ patient.progetp }}</td>
            </tr>
            <tr>
                <th>Precisionsperso</th>
                <td>{{ patient.precisionsperso }}</td>
            </tr>
            <tr>
                <th>Observ</th>
                <td>{{ patient.observ }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('patient_index') }}">back to list</a>

    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}