{% extends 'base.html.twig' %}

{% block title %}RendezVous index{% endblock %}

{% block body %}
    <h1>RendezVous index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Type</th>
                <th>Permission</th>
                <th>Accompagnant</th>
                <th>Choix</th>
                <th>MotifRefus</th>
                <th>Date_repro</th>
                <th>Type_repro</th>
                <th>Permission_repro</th>
                <th>Accompagnant_repro</th>
                <th>Choix_repro</th>
                <th>MotifRefus_repro</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendez_vous in rendez_vouses %}
            <tr>
                <td>{{ rendez_vous.id }}</td>
                <td>{{ rendez_vous.nom }}</td>
                <td>{{ rendez_vous.date ? rendez_vous.date|date('Y-m-d') : '' }}</td>
                <td>{{ rendez_vous.type }}</td>
                <td>{{ rendez_vous.permission }}</td>
                <td>{{ rendez_vous.accompagnant }}</td>
                <td>{{ rendez_vous.choix }}</td>
                <td>{{ rendez_vous.motifRefus }}</td>
                <td>{{ rendez_vous.dateRepro ? rendez_vous.dateRepro|date('Y-m-d') : '' }}</td>
                <td>{{ rendez_vous.typeRepro }}</td>
                <td>{{ rendez_vous.permissionRepro }}</td>
                <td>{{ rendez_vous.accompagnantRepro }}</td>
                <td>{{ rendez_vous.choixRepro }}</td>
                <td>{{ rendez_vous.MotifRefusRepro }}</td>
                <td>
                    <a href="{{ path('rendez_vous_show', {'id': rendez_vous.id}) }}">show</a>
                    <a href="{{ path('rendez_vous_edit', {'id': rendez_vous.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rendez_vous_new') }}">Create new</a>
{% endblock %}
