{% extends 'base.html.twig' %}

{% block title %}Infos index{% endblock %}

{% block body %}
    <h1>Infos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Type</th>
                <th>Accompagnant</th>
                <th>Etat</th>
                <th>MotifRefus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.date ? info.date|date('Y-m-d') : '' }}</td>
                <td>{{ info.type }}</td>
                <td>{{ info.accompagnant }}</td>
                <td>{{ info.etat }}</td>
                <td>{{ info.motifRefus }}</td>
                <td>
                    <a href="{{ path('infos_show', {'id': info.id}) }}">show</a>
                    <a href="{{ path('infos_edit', {'id': info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('infos_new') }}">Create new</a>
{% endblock %}
