{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block page_content %}
    <div class="wrapper">

        <div class="date-wrapper">
            <div id="paginator"></div>
        </div>

        {# Consultations #}
        <div class="accueil-wrapper">
            <div class="box">
                <div class="box-header">
                    <div>Consultations</div>
                    <span>prévues</span>
                </div>
                <table id="consultations" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="slot_horaire" data-width="10%">Horaire</th>
                            <th data-column-id="slot_thematique" data-width="20%">Thématique</th>
                            <th data-column-id="slot_type" data-width="10%">Type</th>
                            <th data-column-id="slot_location" data-width="15%">Lieu</th>
                            <th data-column-id="slot_soignant" data-width="15%">Soignant</th>
                            <th data-column-id="slot_patient" data-width="30%">Patient</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            {# Entretiens individuels #}
            <div class="box">
                <div class="box-header">
                    <div>Entretiens</div>
                    <span>prévus</span>
                </div>
                <table id="entretiens" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="slot_horaire" data-width="10%">Horaire</th>
                            <th data-column-id="slot_thematique" data-width="20%">Thématique</th>
                            <th data-column-id="slot_type" data-width="10%">Type</th>
                            <th data-column-id="slot_location" data-width="15%">Lieu</th>
                            <th data-column-id="slot_soignant" data-width="15%">Soignant</th>
                            <th data-column-id="slot_patient" data-width="30%">Patient</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            {# Ateliers #}
            <div class="box">
                <div class="box-header">
                    <div>Ateliers</div>
                    <span>prévus</span>
                </div>
                <table id="ateliers" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="slot_horaire" data-width="10%">Horaire</th>
                            <th data-column-id="slot_thematique" data-width="20%">Thématique</th>
                            <th data-column-id="slot_type" data-width="10%">Type</th>
                            <th data-column-id="slot_location" data-width="15%">Lieu</th>
                            <th data-column-id="slot_soignant" data-width="15%">Soignant</th>
                            <th data-column-id="slot_patient" data-width="30%">Patient</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            {# Semaines éducatives #}
            <div class="box">
                <div class="box-header">
                    <div>Semaines éducatives</div>
                    <span>prévues</span>
                </div>
                <table id="educatives" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="slot_horaire" data-width="10%">Horaire</th>
                            <th data-column-id="slot_thematique" data-width="20%">Thématique</th>
                            <th data-column-id="slot_type" data-width="10%">Type</th>
                            <th data-column-id="slot_location" data-width="15%">Lieu</th>
                            <th data-column-id="slot_soignant" data-width="15%">Soignant</th>
                            <th data-column-id="slot_patient" data-width="30%">Patient</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="separator">
            <span class="separator-text">Rechercher un créneau</span>
        </div>
        <div>

            <div class="lnb-item">
                <div>
                    <label>
                        <input type="checkbox" class="checkbox-round" value="1" checked="">
                        <span style="border-color: seagreen; background-color: seagreen;"></span>
                        Consultation
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox-round" value="1" checked="">
                        <span style="border-color: rebeccapurple; background-color: rebeccapurple;"></span>
                        Entretien
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox-round" value="1" checked="">
                        <span style="border-color: chocolate; background-color: chocolate;"></span>
                        Atelier
                    </label>
                    <label>
                        <input type="checkbox" class="checkbox-round" value="1" checked="">
                        <span style="border-color: royalblue; background-color: royalblue;"></span>
                        Semaine éducative
                    </label>
                </div>
                <div class="input-group input-daterange">
                    <input type="text" class="form-control" id="dateDebut">
                    <div class="input-group-addon">à</div>
                    <input type="text" class="form-control" id="dateFin">
                </div>
            </div>


            <table id="rdv-grid" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="id" data-type="numeric" data-identifier="true" data-visible="false">ID</th>
                        <th data-column-id="categorie"  data-width="33px" data-formatter="categorie" data-sortable="false"></th>
                        <th data-column-id="date"       data-width="80px">Date</th>
                        <th data-column-id="horaire"    data-width="100px" data-css-class='horaire'>Horaire</th>
                        <th data-column-id="thematique" data-width="15%">Thématique</th>
                        <th data-column-id="type"       data-width="8%">Type</th>
                        <th data-column-id="location"   data-width="10%">Lieu</th>
                        <th data-column-id="soignant"   data-width="10%" data-sortable="false">Soignant</th>
                        <th data-column-id="patient"    data-width="25%" data-formatter="patient" data-sortable="false">Patient</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


        <div class="separator">
            <span class="separator-text">Statistiques</span>
        </div>
        <div class="stats-wrapper">
            <div class="box-sm">
                <span class="glyphicon glyphicon-user"></span>
                <div class="stats">
                    <h1>Patients</h1>
                    <p>{{ nbPatients|number_format(0, ',', '.') }}</p>
                </div>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-leaf"></span>
                <div class="stats">
                    <h1>Consultations</h1>
                    <p>{{ nbConsultation|number_format(0, ',', '.') }}</p>
                </div>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-fire"></span>
                <div class="stats">
                    <h1>Entretiens</h1>
                    <p>{{ nbEntretien|number_format(0, ',', '.') }}</p>
                </div>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-tint"></span>
                <div class="stats">
                    <h1>Ateliers</h1>
                    <p>{{ nbAtelier|number_format(0, ',', '.') }}</p>
                </div>
            </div>
            <div class="box-sm">
                <span class="glyphicon glyphicon-tint"></span>
                <div class="stats">
                    <h1>Semaines éducatives</h1>
                    <p>{{ nbEducative|number_format(0, ',', '.') }}</p>
                </div>
            </div>
        </div>
    </div>

    <!--SVG Sprites-->
    <svg class="inline-svg">
        <symbol id="check" viewbox="0 0 12 10">
            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
        </symbol>
    </svg>

    <!-- Modal addPatient-->
    <div id="addPatient" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title modal__add">
                        <span class="glyphicon glyphicon-plus"></span>
                        Ajouter un patient
                    </h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.rendezVous) }}
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest' : false}) }}
                    <button id="patientAdd" class="btn btn-primary btn-block" data-dismiss="modal">Ajouter</button>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                        Annuler
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/select2.min.js') }}"></script>

    <script>
        var dateSelected = localStorage.getItem('dateSelected') ? localStorage.getItem('dateSelected') : moment(new Date()).format('DD/MM/YYYY');
        var categorie = 'Consultation';

        var options = {
            selectedDateFormat: 'DD/MM/YYYY',
            selectedDate: dateSelected,
            onSelectedDateChanged: function (event, date) {
                dateSelected = moment(date).format('DD/MM/YYYY');
                localStorage.setItem('dateSelected', dateSelected);
                ajaxAction(dateSelected);
            },
            language: 'fr',
            showCalendar: true
        }
        $('#paginator').datepaginator(options);

        {#  SELECT2  #}
        function matchCustom(params, data) {
            if ($.trim(params.term) === '') {
                return data;
            }

            if (typeof data.text === 'undefined') {
                return null;
            }

            if (data.text.indexOf(params.term) > -1) {
                return $.extend({}, data, true);;
            }
            return null;
        }

        $(".js-patient").select2({
            multiple: false,
            matcher: matchCustom,
        });

        {#    #}
        function ajaxAction(d) {
            $.ajax({
                    url: "{{ path('accueil') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "date": d
                    },
                    success: function (res) {
                        $(".box tbody tr").remove();
                        if (res[0].length > 0) {
                            $.each(res[0], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append(`<td class="horaire">` + val.horaire + `</td><td>` + val.thematique + `</td><td>` + val.type + `</td><td>` + val.soignant + `</td><td>` + val.location + `</td><td>` + createUser(val.patients, val.place) + `</td>`)
                                .appendTo('#consultations');
                            });
                        } else {
                            $('<tr class="disabled text-center">').append('<td colspan="6">Aucune consultation</td>').appendTo('#consultations');
                        }
                        if (res[1].length > 0) {
                            $.each(res[1], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append(`<td class="horaire">` + val.horaire + `</td><td>` + val.thematique + `</td><td>` + val.type + `</td><td>` + val.soignant + `</td><td>` + val.location + `</td><td>` + createUser(val.patients, val.place) + `</td>`)
                                .appendTo('#entretiens');
                            });
                        } else {
                            $('<tr class="disabled text-center">').append('<td colspan="6">Aucun entretien</td>').appendTo('#entretiens');
                        }
                        if (res[2].length > 0) {
                            $.each(res[2], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append(`<td class="horaire">` + val.horaire + `</td><td>` + val.thematique + `</td><td>` + val.type + `</td><td>` + val.soignant + `</td><td>` + val.location + `</td><td>` + createUser(val.patients, val.place) + `</td>`)
                                .appendTo('#ateliers');
                            });
                        } else {
                            $('<tr class="disabled text-center">').append('<td colspan="6">Aucun atelier</td>').appendTo('#ateliers');
                        }
                        if (res[3].length > 0) {
                            $.each(res[3], function (index, val) {
                                $('<tr data-row-id=' + val.id + ' class="text-left">')
                                .append(`<td class="horaire">` + val.horaire + `</td><td>` + val.thematique + `</td><td>` + val.type + `</td><td>` + val.soignant + `</td><td>` + val.location + `</td><td>` + createUser(val.patients, val.place) + `</td>`)
                                .appendTo('#educatives');
                            });
                        } else {
                            $('<tr class="disabled text-center">').append('<td colspan="6">Aucune semaine éducative</td>').appendTo('#educatives');
                        }

                        updateWidth();
                    }
                });
        }
        ajaxAction(dateSelected);

        /*
        ============================================================================== */

        var $table = $('table'),
            $headCells = $('table:first thead tr').children(),
            headWidth;

        // Get the tbody columns width array
        headWidth = $headCells.map(function() {
            return $(this).data('width');
        }).get();

        // Set the width of thead columns
        function updateWidth() {
            $table.find('tbody tr').each(function(i, v) {
                $(v).children().each(function(j, s) {
                    $(s).width(headWidth[j]);
                });
            });
        }
        updateWidth();

        function createUser(data, place) {
            let label = ''
            label += '<div class="user-list" data-place="' + place + '">';
            if (data.length !== 0) {
                data.forEach(function(e, v) {
                    let checked = (e.send === 'Oui' ? 'checked' : '');
                    let notes = (e.notes ?
                    `<button class="js-comment tooltip2" data-tooltip="` + e.notes + `" data-position="top" class="top"><i class="glyphicon glyphicon-paperclip"></i></button>` : ``) 
                    label += `
                        <div class="user-label" data-id="` + e.rendezVousId + `">
                            <div>
                                <div class="user-send">
                                    <input class="inp-cbx" id="` + e.rendezVousId + `" type="checkbox" ` + checked + `/>
                                    <label class="cbx" for="` + e.rendezVousId + `">
                                        <span>
                                            <svg width="12px" height="10px"><use xlink:href="#check"></use></svg>
                                        </span>     
                                    </label>
                                </div>
                                <div class="user-name">` + e.prenom + ` ` + e.nom + `</div>
                            </div>
                            <div>
                                ` + notes + `
                                <button class="js-removePatient" data-id="` + e.patientId + `"><i class="glyphicon glyphicon-minus"></i></button>
                                <button class="js-redirect" data-id="` + e.patientId + `"><i class="glyphicon glyphicon-pencil"></i></button>
                            </div>
                        </div>
                    `;
                });
            }
            if (data.length < parseInt(place))
                label += '<button class="js-addPatient"><i class="glyphicon glyphicon-plus"></i></button>';
            label += '</div>';
            return label;
        }

        $('tbody ').on('click', '.inp-cbx', function(e) {
            e.stopPropagation();

            let id = $(this).attr('id');
            let send = $(this).is(":checked") ? 'Oui': 'Non';
            $.ajax({
                url: "{{ path('rendezVous_send') }}",
                type: "POST",
                dataType: "json",
                data: {
                    id: id,
                    send: send
                },
                success: function (res) {
                    // console.log(res);
                }
            });
        })

        /* 
        ============================================================================== */

        $('tbody').on('click', '.js-redirect', function() {
            redirectToPatient($(this));
        });

        function redirectToPatient(ref) {
            let patientId = ref.attr('data-id');
            let anchor_list = ["consultations", "entretiens", "ateliers", "educatives"];
            let anchor = "";
            console.log(ref.parents('table').is('#rdv-grid'), ref.parents('.box').index());
            if (ref.parents('table').is('#rdv-grid')) {
                let pastille = ref.parents('tr').find('td:first-child .pastille');
                if (pastille.hasClass('seagreen'))
                    anchor = 'consultations';
                else if (pastille.hasClass('rebeccapurple'))
                    anchor = 'entretiens';
                else if (pastille.hasClass('chocolate'))
                    anchor = 'ateliers';
                else if (pastille.hasClass('royalblue'))
                    anchor = 'educatives';
            } else {
                anchor = anchor_list[ref.parents('.box').index()];
            }
            $.ajax({
                url: "{{ path('redirect_vue_patient') }}",
                type: "POST",
                dataType: "json",
                data: {
                    id: patientId,
                    anchor: anchor
                },
                success: function (res) {
                    window.location.href = res;
                }
            });
        }


        $('tbody').on('click', '.js-addPatient', function() {
            let id = $(this).closest('tr').attr('data-row-id');
            let len = $(this).closest('.user-list').find('.user-label').length;
            let place = $(this).closest('.user-list').attr('data-place');
            $('#patientAdd').attr('data-id', id);
            $('#patientAdd').attr('data-place', parseInt(place) - parseInt(len));
            $('#addPatient').modal('show');
        });

        $('#patientAdd').on('click', function() {
            let slotId = $(this).attr('data-id');
            let tr = $('tbody tr[data-row-id="' + slotId + '"]');
            let patientId = $('#add_patient_rendezVous').val();
            let place = $(this).attr('data-place');

            $.ajax({
                url: "{{ path('add_patient_slot') }}",
                type: "POST",
                dataType: "json",
                data: {
                    patientId: patientId,
                    slotId: slotId
                },
                success: function (res) {
                    if (res) {
                        let checked = (res.send === 'Oui' ? 'checked' : '');
                        let label = `
                            <div class="user-label" data-id="` + res.rendezVousId + `">
                                <div>
                                    <div class="user-send">
                                        <input class="inp-cbx" id="` + res.rendezVousId + `" type="checkbox" ` + checked + `/>
                                        <label class="cbx" for="` + res.rendezVousId + `">
                                            <span>
                                                <svg width="12px" height="10px"><use xlink:href="#check"></use></svg>
                                            </span>     
                                        </label>
                                    </div>
                                    <div class="user-name">` + res.prenom + ` ` + res.nom + `</div>
                                </div>
                                <div>
                                    <button class="js-removePatient" data-id="` + patientId + `"><i class="glyphicon glyphicon-minus"></i></button>
                                    <button class="js-redirect" data-id="` + patientId + `"><i class="glyphicon glyphicon-pencil"></i></button>
                                </div>
                            </div>
                        `;
                        tr.find('.user-list').prepend(label);
                        if (parseInt(place) <= 1)
                            tr.find('.js-addPatient').remove();
                        successAlert('Succès: patient ajouté !');
                    } else {
                        errorAlert('Erreur: ce patient est déjà inscrit !');
                    }
                },
            });
        })

        $('tbody').on('click', '.js-removePatient', function() {
            let ref = $(this);
            let label = $(this).closest('.user-label');
            let rendezVousId = label.attr('data-id');
            let slotId = $(this).closest('tr').attr('data-row-id');
            let list = label.closest('.user-list');
            $.ajax({
                url: "{{ path('remove_patient_slot') }}",
                type: "POST",
                dataType: "json",
                data: {
                    rendezVousId: rendezVousId,
                    slotId: slotId,
                },
                success: function (res) {
                    if (list.find('.user-label').length <= list.attr('data-place')) {
                        list.append('<button class="js-addPatient"><i class="glyphicon glyphicon-plus"></i></button>');
                    }
                    label.remove();
                    successAlert('Succès: patient supprimé !');
                    redirectToPatient(ref);
                }
            });
        });

        $('tbody').on('click', function() {
            categorie = 'Consultation';
            if ($(this).closest('table').is("#entretiens"))
                categorie = 'Entretien';
            else if ($(this).closest('table').is("#ateliers"))
                categorie = 'Atelier';
        });


        /* RDV
        ============================================================================== */

        $('.input-daterange').datepicker({
            language: 'fr',
            format: 'dd/mm/yyyy',
            todayBtn: true,
            todayHighlight: false,
            autoclose: false
        });

        $('#dateDebut').datepicker('setDate', new Date());
        let endDate = moment().endOf('year').format('DD/MM/YYYY');
        $('#dateFin').datepicker('setDate', endDate);
        $('.input-daterange input').datepicker('update');

        var categories = [];
        $('.lnb-item label').click(function() {
            let checkbox = $(this).find("input[type='checkbox']");
            if (checkbox.prop('checked')) {
                checkbox.prop('checked', false);
                $(this).find('span').css('background-color', 'transparent');
            } else {
                checkbox.prop('checked', true);
                let color = $(this).find('span').css('border-color');
                $(this).find('span').css('background-color', color);
            }
            categories = [];
            let val = ['Consultation', 'Entretien', 'Atelier', 'Educative'];
            $('.lnb-item label :checkbox').each(function(i) {
                if ($(this).prop('checked'))
                    categories.push(val[i]);
            });
            $("#rdv-grid").bootgrid('reload');
        });

        $('.input-daterange input').on('changeDate', function() {
            $('.input-daterange').datepicker('update');
            $("#rdv-grid").bootgrid('reload');
        });

        $("#rdv-grid").bootgrid({
            rowCount: [
                25, 50, -1
            ],
            columnSelection: false,
            ajax: true,
            ajaxSettings: {
                method: "POST",
                cache: false
            },
            post: function () {
                return {
                    categories: categories,
                    dateDebut: $('#dateDebut').val(),
                    dateFin: $('#dateFin').val()
                };
            },
            url: "{{ path('slot_list') }}",
            formatters: {
                "categorie": function(column, row) {
                    if (row.categorie === 'Entretien')
                        return "<div class=\"pastille rebeccapurple\"></div>";
                    else if (row.categorie === 'Atelier')
                        return "<div class=\"pastille chocolate\"></div>";
                    else if (row.categorie === 'Consultation')
                        return "<div class=\"pastille seagreen\"></div>";
                    else if (row.categorie === 'Educative')
                        return "<div class=\"pastille royalblue\"></div>";
                },
                "patient": function(column, row) {
                    return createUser(row.patients, row.place)
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function() {
            
        });

        function errorAlert(msg) {
            $('body').prepend(
                `<div class="row alert alert-danger text-center box-shadow" style="top:' + alert_pos + 'px;"><span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>
                    `+ msg +`
                </div>`
            );
            alert_pos += 72;
        }

        
        function successAlert(msg) {
            $('body').prepend(
                `<div class="row alert alert-success text-center box-shadow" style="top:' + alert_pos + 'px;"><span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>
                    `+ msg +`
                </div>`
            );
            alert_pos += 72;
        }

    </script>
{% endblock %}