<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Draxa{% endblock %}
        </title>
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}"/>

        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic|PT+Serif:400,700,400italic,700italic|Vollkorn|Rokkitt:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery/jquery.bootgrid.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery/bootstrap-datepaginator.css') }}">

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
                
        {# flashbag #}
        <div class="alert-row">
            {% if app.request.hasPreviousSession %}
                {% set top = 60 %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="row alert alert-{{ type }} text-center box-shadow" style="top:{{ top }}px;">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ message }}
                        </div>
                        {% set top = top + 72 %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        {% block body %}{% endblock %}

        <!-- JavaScript -->
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery/jquery.bootgrid.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery/moment.js') }}"></script>
        <script src="{{ asset('vendor/jquery/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery/bootstrap-datepicker.fr.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery/bootstrap-datepaginator.js') }}"></script>
        <script src="{{ asset('js/top.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js'></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/sideToggleExtended.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>