{% extends 'base.html.twig' %}
{% block body %}
    <nav class="barMenu">
        <div id="sideMenu">
            <a class="menu-trigger" href="#" id="sideMenuClosed">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <p class="colorchange" id="page-title">
            {% block page_title %}
                {{ title }}
            {% endblock %}
            {# <span>Le meilleur du Web</span> #}
        </p>
        <div class="title">
            WebApp CEPTA
        </div>
        <a href="{{ path('login') }}" id="userLink">
            {{ app.user.username }}
        </a>
        <a href="{{ path('logout') }}">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </nav>
    <div id="sideMenuContainer">
        <div class="logo-menu"></div>
        <h2>Index</h2>
        <a href="{{ path('accueil') }}" title="Accueil">
            <span class="glyphicon glyphicon-home"></span>
        </a>
        <a href="{{ path('patient') }}" title="Patients">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    </div>
    <div class="container-fluid">
        {% block page_content %}{% endblock %}
    </div>
    <a class="cd-top js-cd-top" href="#0">Top</a>
    <!-- Footer -->
    <div class="bas">
        <section class="footer-minimal footer-dark" id="footer">
            <div class="footer-inner">
                <div class="footer-container tt-wrap">
                    <div class="row">
                        <div class="footer-copyright col-md-6 col-md-push-6">
                            <p class="text-right">© Draxa 2018 / All rights reserved</p>
                        </div>
                        <div class="footer-copyright col-md-6 col-md-pull-6">
                            <p>Design by:
                                <a href="http://qwetle.fr" target="_blank">Léo</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
{% endblock %}
{% block javascripts %}{% endblock %}