{% extends 'base.html.twig' %}

{% use 'todo/index.html.twig' %}

{% block body %}
    <nav class="barMenu">
        <div class="nav-container">
            <a class="title" href="{{ path('accueil') }}">
                WebApp CEPTA
            </a>
            <ul class="menu">
                <li class="menu-item">
                    <button class="user-link user-alone" id="todo-list">
                        <span class="glyphicon glyphicon-bell"></span>
                    </button>
                    <div class="todo__notification">0</div>
                </li>
                <li class="menu-item {{ title=='Accueil' ? 'active' : '' }}">
                    <a class="user-link" href="{{ path('accueil') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        Accueil
                    </a>
                </li>
                <li class="menu-item {{ title=='Liste des patients' ? 'active' : '' }}">
                    <a class="user-link" href="{{ path('patient_list') }}">
                        <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                        Liste des patients
                    </a>
                </li>
                <li class="menu-item {{ title=='Settings' ? 'active' : '' }}">
                    <button class="user-link">
                        <span class="glyphicon glyphicon-cog"></span>
                        Réglages
                    </button>
                    <ul class="menu-content">
                        <li class="menu-item">
                            <a class="user-link" href="{{ path('settings') }}">
                                <span class="glyphicon glyphicon-book"></span>
                                Gérer les semaines
                            </a>
                        </i>
                        <li class="menu-item">
                            <a class="user-link" href="{{ path('year') }}">
                                <span class="glyphicon glyphicon-book"></span>
                                Aperçu des années
                            </a>
                        </i>
                        <li class="menu-item">
                            <a class="user-link" href="{{ path('soignant') }}">
                                <span class="glyphicon glyphicon-book"></span>
                                Gérer les soignants
                            </a>
                        </i>
                    </ul>
                </li>
                <li class="menu-item">
                    <a class="user-link" href="{{ path('logout') }}">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Se déconnecter
                        {# {{ app.user.username }} #}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Todo -->
    {% block todo %}{{ parent() }}{% endblock %}

    <div class="container-fluid">
        {% block page_content %}{% endblock %}
    </div>
    <div class="toolbar">
        <a class="cd cd-top js-cd-top" href="#0"><span class="glyphicon glyphicon-chevron-up"></span></a>
        {% block toolbar_component %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="bas">
        <section class="footer-minimal footer-dark" id="footer">
            <div class="footer-container footer-flex">
                <div class="footer-copyright">
                        <p>Design by: <a href="https://github.com/Suissehide/Draxa" target="_blank">Léo Couffinhal</a></p>
                </div>
                <div class="footer-copyright">
                    <p class="text-right">© <a href="https://qwetle.fr" target="_blank">Qwetle</a> 2020 / All rights reserved</p>
                </div>
            </div>
        </section>
    </div>
    
{% endblock %}

{% block default_javascripts %}

{% block todo_javascripts %}{{ parent() }}{% endblock %}

{% endblock %}
