{% extends 'base.html.twig' %}

{% block title %}Telephonique index{% endblock %}

{% block body %}
    <h1>Telephonique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Type</th>
                <th>MotifRefus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telephonique in telephoniques %}
            <tr>
                <td>{{ telephonique.id }}</td>
                <td>{{ telephonique.date ? telephonique.date|date('Y-m-d') : '' }}</td>
                <td>{{ telephonique.type }}</td>
                <td>{{ telephonique.motifRefus }}</td>
                <td>
                    <a href="{{ path('telephonique_show', {'id': telephonique.id}) }}">show</a>
                    <a href="{{ path('telephonique_edit', {'id': telephonique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('telephonique_new') }}">Create new</a>
{% endblock %}
