{% extends 'base.html.twig' %}

{% block title %}Telephonique{% endblock %}

{% block body %}
    <h1>Telephonique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ telephonique.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ telephonique.date ? telephonique.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ telephonique.type }}</td>
            </tr>
            <tr>
                <th>MotifRefus</th>
                <td>{{ telephonique.motifRefus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('telephonique_index') }}">back to list</a>

    <a href="{{ path('telephonique_edit', {'id': telephonique.id}) }}">edit</a>

    {{ include('telephonique/_delete_form.html.twig') }}
{% endblock %}
